<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New User</title>
</head>
<body>
<h1>Create New User</h1>

<form th:action="@{/admin/new}" th:object="${user}" method="post">
  <div>
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/>
  </div>

  <div>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required/>
  </div>

  <div>
    <label>Age:</label>
    <input type="number" th:field="*{age}" required/>
  </div>

  <div>
    <label>Username:</label>
    <input type="email" th:field="*{username}" required/>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" th:field="*{password}" required/>
  </div>

  <button type="submit">Save</button>
  <a href="/admin">Cancel</a>
</form>
</body>
</html>